<h1>Listings</h1>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.listings.each do |listing| %>
          <tr>
            <td><%= listing.title %></td>
            <td><%= listing.location %></td>
            <td>$<%= listing.price %></td>
            <td class="text-center"><%= link_to "Add photo", new_listing_photo_path(listing), :class => "btn btn-sm btn-warning" %></td>
          </trl>
      <% end %>
    </tbody>
  </table>
</div>
